.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #f62b11;
    color: #fff;
}
.container {
    max-width: 673px;
    margin-top: 82px;
}
body{
    background-color: #8eede6;
}
.bg-light {
    background-color: #f8f9fa!important;
    border-radius: 43px;
}

/*      */




